/*
 * Fix
 * Version 0.1.1
 * https://github.com/jaydenseric/Fix
 * Modified slightly by http://stefansjoberg.net
*/
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font: 16px/1 sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, .project-content__title, h6, .project-content__subtitle, p, blockquote, figure, ol, ul {
  margin: 0;
  padding: 0;
}

main, li {
  display: block;
}

h1, h2, h3, h4, h5, .project-content__title, h6, .project-content__subtitle {
  font-size: inherit;
}

strong {
  font-weight: bold;
}

a, button {
  color: inherit;
}

a {
  text-decoration: none;
}

button {
  overflow: visible;
  border: 0;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer;
}

::-moz-focus-inner {
  padding: 0;
  border: 0;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
}

h1, h2, h3, h4, h5, .project-content__title, h6, .project-content__subtitle {
  font-weight: 900;
}

h1 {
  font-size: 1.476em;
  line-height: 1.043;
  margin-bottom: 1.043em;
}

h2 {
  font-size: 1.383em;
  line-height: 1.091;
  margin-bottom: 1.091em;
}

h3 {
  font-size: 1.296em;
  line-height: 1.200;
  margin-bottom: 1.200em;
}

h4 {
  font-size: 1.215em;
  line-height: 1.263;
  margin-bottom: 1.263em;
}

h5, .project-content__title {
  font-size: 1.138em;
  line-height: 1.333;
  margin-bottom: 1.333em;
}

h6, .project-content__subtitle {
  font-size: 1.067em;
  line-height: 1.412;
  margin-bottom: 1.412em;
}

p {
  font-size: 1em;
  margin-bottom: 1.5em;
}
p a {
  color: #64B5F6;
}
p a:hover {
  text-decoration: underline;
}
p i, p em {
  font-style: italic;
}
p bold, p strong {
  font-weight: 900;
}

.container ol {
  list-style: upper-roman;
}
.container ul {
  list-style: disc;
}
.container ol, .container ul {
  margin: 0 0 1.5em 1.5em;
}
.container ol li, .container ul li {
  display: list-item;
}

/* Clearfix */
.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

/* Container */
.container {
  padding: 0 0.5em;
}

/* Buttons */
.btn {
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 900;
  letter-spacing: 0.06667em;
  line-height: 1;
  margin: 0 0.250em 0.250em 0;
  padding: 0.75em 1.5em;
  text-transform: uppercase;
}
.btn--external {
  border: 0.063em solid #585858;
  color: #585858;
  transition: all ease-in-out .25s;
}
.btn--external:hover {
  background: #585858;
  color: #d8d8d8;
}
.btn--external:focus {
  color: #d8d8d8;
}

/* Body Setup */
*,
*:before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 20px;
}

body {
  background: #3f3f3f;
  color: #e0e0e0;
  font: 300 1em/1.5 "Source Sans Pro", sans-serif;
}

/* Masonry Grid */
.grid-item, .grid-sizer {
  width: 100%;
}

/* Zone */
.zone {
  margin-bottom: 1.5em;
}
.zone__title {
  color: #585858;
  font-size: 3rem;
  margin-bottom: 0.75em;
  word-wrap: break-word;
  text-transform: uppercase;
  text-align: center;
}

/* Portfolio */
.project {
  background: #343434;
  font-size: 0.9rem;
  margin: 0.5em;
  overflow: hidden;
}
.project-content {
  padding: 1em;
}
.project-content__title {
  color: #ef5350;
  letter-spacing: 0.06667em;
  margin: 0;
  word-wrap: break-word;
  text-transform: uppercase;
}
.project-content__subtitle {
  color: #585858;
  word-wrap: break-word;
  text-transform: uppercase;
}
.project-image {
  background-color: #2f2f2f;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
}

/* Top Part: Page-Header */
.page-header .about-me {
  padding: 1em;
  width: 100%;
}
.page-header .about-me__image {
  border: 15px solid #343434;
  border-radius: 50%;
  display: block;
  height: auto;
  margin: 1em auto;
  max-height: 300px;
  max-width: 300px;
  width: 100%;
}

/* Min-width: 600px */
@media only screen and (min-width: 600px) {
  html {
    font-size: 22px;
  }

  .about-me {
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
  }

  .grid-item,
  .grid-sizer {
    width: 50%;
  }
}
/* Min-width: 900px */
@media only screen and (min-width: 900px) {
  html {
    font-size: 24px;
  }

  .project-image {
    height: 300px;
  }

  .project-content {
    padding: 2em;
  }
}
/* Min-width: 1200px */
@media only screen and (min-width: 1200px) {
  html {
    font-size: 26px;
  }

  .container {
    margin: 0 auto;
    max-width: 1200px;
  }
}

/*# sourceMappingURL=stylesheet.css.map */
