// Color Palette
$burnt-sienna: #ef5350;
$feijoa: #aed581;
$malibu: #64B5F6;
$mine-shaft: #252525;
$white: #ffffff;

// Styling
$base-gutter: 1em;
$base-spacing: 0.2em;
$base-height: 1.5;
$base-rhythm: 1.5em;
$main-font: 'Source Sans Pro', sans-serif;